<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$', '$'], ["\(", "\)"] ],
      displayMath: [ ['$$', '$$'], ["\[", "\]"] ],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
    //,
    //displayAlign: "left",
    //displayIndent: "2em"
  });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ 'assets/css/normalize.css' | relative_url }}"/>
	<link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}"/>
	<link rel="stylesheet" href="{{ 'assets/css/tao/styles.css' | relative_url }}"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <script async src="https://use.fontawesome.com/releases/v6.0.0/js/all.js"></script>

  {% include custom-head.html %}
</head>
